# Godot 4+ specific ignores
.godot/
/android/
addons/nobodywho/libnobodywho-godot-aarch64-unknown-linux-gnu-debug.so
addons/nobodywho/libnobodywho-godot-aarch64-linux-android-debug.so
addons/nobodywho/libnobodywho-godot-x86_64-linux-android-debug.so
addons/nobodywho/libnobodywho-godot-x86_64-unknown-linux-gnu-debug.so
models/game_master.gguf
models/Qwen_Qwen3-0.6B-Q4_K_M.gguf
llm_server/game_master.gguf
llm_server/ggml-base.dll
llm_server/ggml-cpu-alderlake.dll
llm_server/ggml-cpu-cannonlake.dll
llm_server/ggml-cpu-cascadelake.dll
llm_server/ggml-cpu-cooperlake.dll
llm_server/ggml-cpu-haswell.dll
llm_server/ggml-cpu-icelake.dll
llm_server/ggml-cpu-ivybridge.dll
llm_server/ggml-cpu-piledriver.dll
llm_server/ggml-cpu-sandybridge.dll
llm_server/ggml-cpu-sapphirerapids.dll
llm_server/ggml-cpu-skylakex.dll
llm_server/ggml-cpu-sse42.dll
llm_server/ggml-cpu-x64.dll
llm_server/ggml-cpu-zen4.dll
llm_server/ggml-rpc.dll
llm_server/ggml-vulkan.dll
llm_server/ggml.dll
llm_server/llama-server.exe
llm_server/libomp140.x86_64.dll
llm_server/llama-batched-bench.exe
llm_server/llama-bench.exe
llm_server/llama-cli.exe
llm_server/llama-common.dll
llm_server/llama-completion.exe
llm_server/llama-fit-params.exe
llm_server/llama-gemma3-cli.exe
llm_server/llama-gguf-split.exe
llm_server/llama-imatrix.exe
llm_server/llama-llava-cli.exe
llm_server/llama-minicpmv-cli.exe
llm_server/llama-mtmd-cli.exe
llm_server/llama-mtmd-debug.exe
llm_server/llama-perplexity.exe
llm_server/llama-quantize.exe
llm_server/llama-qwen2vl-cli.exe
llm_server/llama-results.exe
llm_server/llama-template-analysis.exe
llm_server/llama-tokenize.exe
llm_server/llama-tts.exe
llm_server/llama.dll
llm_server/mtmd.dll
llm_server/rpc-server.exe
addons/nobodywho/~libnobodywho-godot-x86_64-pc-windows-msvc-release.dll
addons/nobodywho/~libnobodywho-godot-x86_64-pc-windows-msvc-release.dll
